/* BASE STYLES */
html {
    overflow: hidden;
    font-family: var(--font-family);
    min-width: 0;
    font-size: var(--x4);
    line-height: var(--line-height);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 var(--x4) 0;
}
li {
    list-style: none;
}
p {
    margin: 0 0 var(--x4) 0;
}
a {
    text-decoration: none;
}
/* BASE STYLES  end*/
