html {
    font-size: var(--x4);
    font-family: var(--font-family);
    min-width: 0;
    overflow: hidden;
}
html,
body,
main {
    height: 100%;
}

p {
    margin: 0 0 var(--x4) 0;
}
ul {
    margin-left: var(--x4);
}
section {
    padding-top: 32px;
}
