.preview.code {
    background: #fff;
}

.preview {
    display: grid;
    margin-top: var(--x8);
    height: auto;
    overflow: hidden;
    border: 1px solid rgba(11, 31, 53, 0.1);
    border-radius: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
}

.collapsible {
    max-height: 200px;
}

.collapsible:focus {
    max-height: 100%;
    outline: 0;
    box-shadow: var(--shadow-small) var(--color_white_25);
}

.title div {
    flex-grow: 1;
    flex-shrink: 1;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--x2) var(--x2);
    background: rgb(244, 245, 247);
    grid-row: 1 / 2;
}
.title h3 {
    margin-top: 0;
}
.description {
    grid-row: 2 / 3;
    padding: 8px 16px;
}

.copy_btn {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 4px;
    width: 60px;
    visibility: hidden;
    border: 1px solid #aaa;
    border-radius: var(--x1);
    background: #fff;
    color: #000;
    cursor: pointer;
}
.preview:hover .copy_btn {
    visibility: visible;
}
.content {
    padding: var(--x2);
}

.preview pre {
    margin: 0 !important;
}
