.sidbar_nav {
    & ul {
        margin-left: 0;
    }
    & li {
        list-style: none;
    }
    & a {
        text-decoration: none;
    }
    & .title {
        line-height: 42px;
        padding: 0 0 0 30px;
    }

    & a {
        display: block;
        padding: 9px 12px;
        padding-right: 30px;
        padding-left: 30px;
        color: #333;
        text-decoration: none;
        opacity: 0.6;
    }

    & a:hover {
        background: rgba(51, 51, 51, 0.1);
    }

    & a.active {
        opacity: 1;
    }

    & a.active,
    & a.active:hover {
        background: rgba(51, 51, 51, 0.1);
    }
}
