/* RIGHT SIDE STYLE */
.top_bar {
    background: #eee;
    display: flex;
    align-items: center;
    height: 36px;
}
.menu_icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    padding: var(--x2_5);
    box-sizing: content-box;
}
.title_component {
    padding: 0 20px;
    line-height: 36px;
}
.version_component {
    line-height: 36px;
}
.content {
    padding: var(--x4) var(--x8);
    overflow-y: scroll;
    height: calc(100% - 36px);
}
