/* RIGHT SIDE STYLE */
.top_bar {
    display: flex;
    align-items: center;
    height: 48px;
    background: rgb(244, 245, 247);
}
.top_bar h3 {
    margin-top: 0;
    color: #70727b;
}
.menu_icon {
    fill: #70727b;
    padding: var(--x2_5);
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.title_component {
    padding: 0 20px;
}

.content {
    margin: 0 auto;
    padding: 0 var(--x8);
    max-width: 1300px;
    height: calc(100% - 48px);
}
.content-wrapper {
    overflow-y: auto;
    height: calc(100% - 48px);
}
